<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>整体数据分析</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="stylesheet" href="../static/css/popupWindow.css">
    <!--<link rel="stylesheet" href="../static/css/dataAnalysisLayout.css">-->
    <script type="text/javascript" src="../static/js/framework.js"></script>
    <script type="text/javascript" src="../static/js/globalAnalysis.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body onload="show_global_data()">

<div class="container-fluid" style="background:aliceblue;height: 900px">
    <h1>神策-管理系统</h1>
    <div class="row">
        <div class="col-sm-2" style="margin-top: 40px;background: white">
            <ol id="olTree">
                <li>
                    <a data-toggle="collapse" data-target="#demo1">数据大盘</a>
                        <div id="demo1" class="collapse">
                            <ol>
                                <li><a href="/dataEchart/globalAnalysis">总体分析</a></li>
                                <li><a href="/dataEchart/regionEchart">区域分析</a></li>
                                <li><a href="/dataEchart/unitEchart">单元分析</a></li>
                            </ol>
                        </div>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#demo2">数据管理</a>
                        <div id="demo2" class="collapse">
                            <ol>
                                <li><a href="/dataManagement/tenantManagement">用户信息管理</a></li>
                                <li><a href="/dataManagement/roomManagement">房屋信息管理</a></li>
                                <li><a href="/dataManagement/monthlyManagement">每月流水信息管理</a></li>
                            </ol>
                        </div>
                </li>
            </ol>
        </div>

        <div class="col-sm-10" id="right" style="height: 1000px">
            <div class="row" id="yearchoose">
                <div class="col-12">
                    <b>年份</b>
                    <select name="year" id="global_year_choose">
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                    <input type="button" value="查询" onclick="show_global_data()">
                </div>>
            </div>

            <div class="row" id="dataAnalysisTop">
                    <div class="col-2" style="background:lightblue;margin-left: 2%" onload = "tolincome()" id="global_total_income"></div>
                    <div class="col-2" style="background:lightblue;margin-left: 1%" onload = "rentinc()" id="global_rent_income"></div>
                    <div class="col-2" style="background:lightblue;margin-left: 1%" onload= "roomqual()" id="room_Number"></div>
                    <div class="col-2" style="background:lightblue;margin-left: 1%" onload= "shopqual()" id="shop_Number"></div>
                    <div class="col-2"  style="background:lightblue;margin-left: 1%" onload= "onrent()" id="rate"></div>
            </div>


            <div class="row" id="dataAnalysisMiddleContent" style="height: 30%">
                <div class="col-6" style="width: 40%;height: 100%;margin-top: 2%" id="monlInc" onload="monlinc()"></div>
                <div class="col-6" style="width: 40%;height: 100%;margin-top: 2%" id="incom" onload="incom()"></div>
            </div>
            <div class="row" style="height: 50%">
                <div class="col-6" style="width: 50%;height: 50%;margin-top: 5%" id="regipro" onload="regipro()"></div>
                <div class="col-6" style="width: 50%;height: 50%;margin-top: 5%" id="rateCompara" onload="rateComp()"></div>
            </div>
        </div>
    </div>>
</div>
</body>
</html>