<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="./static/css/framework.css" rel="stylesheet">
    <script type="text/javascript" src="./static/js/framework.js"></script>
</head>
<body onload="initTree()">
    <div class="header">
		<h2>神策-管理系统</h2>
	</div>

    <div class="mainBox">
		<div class="leftBox">
			<div style="float:left;width: 300px; height: 590px;">
                <ol id="olTree">
                <li>
                   <label>数据大盘</label>
                   <ol>
                        <li><a href="#">区域分析</a></li>
                        <li><a href="#">单元分析</a></li>
                   </ol>
                </li>
                <li>
                   <label>数据管理</label>
                   <ol>
                       <li><a href="/dataManagement/userManagement">用户信息管理</a></li>
                       <li><a href="/dataManagement/roomManagement">房屋信息管理</a></li>
                       <li><a href="/dataManagement/monthlyManagement">每月流水信息管理</a></li>
                   </ol>
                </li>
                </ol>
            </div>
		</div>
		<div class="rightBox">
			<div class="slideBtn" onclick="slideBtn()">伸缩</div>
            <h1>Welcome!</h1>
		</div>
	</div>




</body>
</html>