<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-table-add-row {
            margin-top: 10px;
            width: 100%;
            height: 34px;
            border: 1px dashed #c1c1cd;
            border-radius: 3px;
            cursor: pointer;
            justify-content: center;
            display: flex;
            line-height: 34px;
        }
    </style>
</head>

<body>
        <table width="600"border="1"cellspacing="0">

        <thead>

        <tr>

        <th>编号</th>

        <th>姓名</th>

        <th>职位</th>

        <th>操作</th>

        </tr>

        </thead>

        <tbody id="tbMain"></tbody>

        </table>

        <script type="text/javascript">

        //模拟bai一段JSON数据，du实际要从数据库中读取

        varper=[

        {id:001,name:'张珊',job:'学生zhi'},

        {id:002,name:'李斯',job:'教师'},

        {id:003,name:'王武dao',job:'经理'}

        ];

        window.onload=function(){

            vartbody=document.getElementById('tbMain');

            for(vari=0;i<per.length;i++){//遍历一下json数据

            vartrow=getDataRow(per[i]);//定义一个方法,返回tr数据

            tbody.appendChild(trow);

        }



         function getDataRow(h){

            varrow=document.createElement('tr');//创建行

            varidCell=document.createElement('td');//创建第一列id

            idCell.innerHTML=h.id;//填充数据

            row.appendChild(idCell);//加入行，下面类似

            varnameCell=document.createElement('td');//创建第二列name

            nameCell.innerHTML=h.name;

            row.appendChild(nameCell);

            varjobCell=document.createElement('td');//创建第三列job

            jobCell.innerHTML=h.job;

            row.appendChild(jobCell);

            //到这里，json中的数据已经添加到表格中，下面为每行末尾添加删除按钮

            vardelCell=document.createElement('td');//创建第四列，操作列

            row.appendChild(delCell);

            varbtnDel=document.createElement('input');//创建一个input控件

            btnDel.setAttribute('type','button');//type="button"

            btnDel.setAttribute('value','删除');

            //删除操作

            btnDel.οnclick=function(){

                if(confirm("确定删除这一行嘛？")){

                    //找到按钮所在行的节点，然后删掉这一行

                    this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);

                    //btnDel-td-tr-tbody-删除(tr)

                    //刷新网页还原。实际操作中，还要删除数据库中数据，实现真正删除

                }

            }
            delCell.appendChild(btnDel);//把删除按钮加入td，别忘了
            return row;//返回tr数据
         }
        </script>
</body>

</html>