<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table class="table table-bordered">
    <tr>
        <th>name</th>
        <th>room</th>
        <th>water</th>
        <th>electricity</th>
        <th>rent</th>>
        <th>pay_time</th>>
        <th>ext_1</th>>
        <th>ext_2</th>>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
                <td>{{ i[6] }}</td>
                <td>{{ i[7] }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>