<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>区域数据分析</title>
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="stylesheet" href="../static/css/popupWindow.css">
    <script type="text/javascript" src="../static/js/framework.js"></script>
    <script type="text/javascript" src="../static/js/regionEchart.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body onload="initTree()">
    <div class="header">
		<h2>神策-管理系统</h2>
	</div>

    <div class="mainBox" >
		<div class="leftBox" style="float:left;background-color:#FFD700">
			<div style="float:left;width: 300px; height: 590px;">
                <ol id="olTree">
                <li>
                   <label>数据大盘</label>
                   <ol>
                        <li><a href="#">区域分析</a></li>
                        <li><a href="#">单元分析</a></li>
                   </ol>
                </li>
                <li>
                   <label>数据管理</label>
                  <ol>
                       <li><a href="/dataManagement/userManagement">用户信息管理</a></li>
                       <li><a href="/dataManagement/roomManagement">房屋信息管理</a></li>
                       <li><a href="/dataManagement/monthlyManagement">每月流水信息管理</a></li>
                   </ol>
                </li>
                </ol>
            </div>
		</div>
        <div calss="middleBox" >
            <div calss="slideBtn" onclick="slideBtn()">伸缩</div>
            <h1>区域数据分析</h1>

            <div id="regionChoose">
                    <b>年</b>
                    <input type="text" id="texyear" placeholder="请输入年份">
                    <b>月</b>
                    <input type="text" id="texmonth" placeholder="请输入月份">
                    <b>区域</b>
                    <select name="region" id="region" >
                        <option selected="selected">所有</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                    <input type="button" value="查询" onclick="getRegionInfo()">
            </div>

            <div id="yearincome">
                <b>年总收入</b>
            </div>

            <div id="nowincome">
                <b>当月收入</b>
            </div>

            <div id="Rentalrate">
                <b>出租率</b>
            </div>

            <div id="Averageroomprice">
                <b>客房均价</b>
            </div>

            <div>
                <b>可出租房间数</b>
            </div>
        </div>

        <div class="rightBox" style="float:right">
            <div id="monthcome">
                <b>按月总收入</b>
            </div>

            <div id="Incomeclassification">
                <b>收入分类比</b>
            </div>>
        </div>
    </div>

</body>
</html>