<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>区域数据分析</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="stylesheet" href="../static/css/popupWindow.css">
    <link rel="stylesheet" href="../static/css/load.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript" src="../static/js/framework.js"></script>
    <script type="text/javascript" src="../static/js/regionEchart.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

</head>
<body onload="show_region_data() ">

<div class="container-fluid" style="background:#020e21;height: 1000px">
    <h1><a href="/" style="text-decoration: none; color: inherit;">神策-管理系统</a></h1>
    <div class="row">
    <!-- 侧边栏导航栏容器 -->
        <div class="col-12 col-sm-2 mt-4 sidebar-nav">
            <!-- 导航列表 -->
            <ul class="nav flex-column nav-tabs justify-content-center">
                <!-- 数据大盘 -->
                <li class="nav-item">
                    <a class="nav-link text-primary nav-title" data-toggle="collapse" href="#demo1"><i class="fas fa-chart-pie"></i> 数据大盘</a>
                    <div class="collapse" id="demo1">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item"><a class="nav-link text-primary sub-link" href="/dataEchart/globalAnalysis"><i class="fas fa-chart-line"></i>总体分析</a></li>
                            <li class="nav-item"><a class="nav-link text-primary sub-link" href="/dataEchart/regionEchart"><i class="fas fa-map-marked"></i>区域分析</a></li>
                            <li class="nav-item"><a class="nav-link text-primary sub-link" href="/dataEchart/unitEchart"><i class="fas fa-cube"></i>单元分析</a></li>
                        </ul>
                    </div>
                </li>
                <!-- 数据管理 -->
                <li class="nav-item">
                    <a class="nav-link text-primary nav-title" data-toggle="collapse" href="#demo2"><i class="fas fa-database"></i> 数据管理</a>
                    <div class="collapse" id="demo2">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item"><a class="nav-link text-primary sub-link" href="/dataManagement/tenantManagement"><i class="fas fa-users"></i>用户信息管理</a></li>
                            <li class="nav-item"><a class="nav-link text-primary sub-link" href="/dataManagement/roomManagement"><i class="fas fa-home"></i>房屋信息管理</a></li>
                            <li class="nav-item"><a class="nav-link text-primary sub-link" href="/dataManagement/monthlyManagement"><i class="fas fa-file-invoice-dollar"></i>每月流水信息管理</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-10" id="right">
            <div class="row" id="regionChoose">
                <div class="col-12">
                    <i class="fas fa-calendar calendar-icon"></i> <!-- 添加日历图标 -->
                    <select name="yearNum" id="yearNum" required><!-- 添加月份图标 -->
                    </select>
                    <i class="fas fa-calendar-alt calendar-icon"></i>
                    <select name="month" id="texmonth">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <i class="fas fa-globe calendar-icon"></i> <!-- 添加地球图标 -->
                    <select name="region" id="region">
                        <!--<option selected="selected">所有</option>-->
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                    </select>
                    <input type="button" class="btn-query" value="查询" onclick="show_region_data()">
                </div>
            </div>
            <div class="row" id="dataAnaLeft" style="height: 800px">
                <div class="col-sm-2">

                    <div class="data-card" id="yearincome"></div>

                    <div class="data-card" id="nowincome"></div>

                    <div class="data-card" id="Rentalrate"></div>

                    <div class="data-card" id="averRoomPri"></div>

                    <div class="data-card" id="roomNumb"></div>

                </div>

                <div class="chart-scroll-container">
                    <div class="row" id="dataAnalysisMiddleContent">
                        <div class="col-lg-6 chart-container2" id="monthcome"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 chart-container2" id="incClafi"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // 获取当前页面的URL
            var currentUrl = window.location.href;

            // 遍历导航列表的子链接
            $(".sub-link").each(function() {
                // 获取子链接的href属性
                var linkUrl = $(this).attr("href");

                // 如果当前页面的URL包含子链接的href，则将该子链接高亮显示
                if (currentUrl.indexOf(linkUrl) !== -1) {
                    $(this).addClass("active"); // 添加高亮显示的CSS类
                }
            });
        });
    </script>

</body>
</html>