<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sql测试</title>
</head>
<body>
<div align="center" style="margin-top: 40px;">
    <form name="form1"     method="POST">
        room =<input type="text" placeholder="room" name="room" value="{{ var1  }}">
        area =<input type="text" placeholder="area" name="area" value="{{ var2  }}">
        air_condition =<input type="text" placeholder="air_condition" name="air_condition" value="{{ var3  }}">
        heater =<input type="text" placeholder="heater" name="heater" value="{{ var4  }}">
        other =<input type="text" placeholder="other" name="other" value="{{ var5  }}">
        rent =<input type="text" placeholder="rent" name="rent" value="{{ var6  }}">
        remark =<input type="text" placeholder="remark" name="remark" value="{{ var7  }}">
        ext_1 =<input type="text" placeholder="ext_1" name="ext_1" value="{{ var8  }}">
        ext_2 =<input type="text" placeholder="ext_2" name="ext_2" value="{{ var9  }}">
        <input type="submit" value="提交" onclick="">
    </form>

</div>
{% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
</body>