<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sql测试</title>
</head>
<body>
<div align="center" style="margin-top: 40px;">
    <form name="form1"     method="POST">
        name =<input type="text" placeholder="name" name="name" value="{{ var1  }}">
        room =<input type="text" placeholder="room" name="room" value="{{ var2  }}">
        rent =<input type="text" placeholder="rent" name="rent" value="{{ var3  }}">
        deposit =<input type="text" placeholder="deposit" name="deposit" value="{{ var4  }}">
        idcard =<input type="text" placeholder="idcard" name="idcard" value="{{ var5  }}">
        check_in =<input type="text" placeholder="check_in" name="check_in" value="{{ var6  }}">
        check_out =<input type="text" placeholder="check_out" name="check_out" value="{{ var7  }}">
        contact =<input type="text" placeholder="contact" name="contact" value="{{ var8  }}">
        living_number =<input type="text" placeholder="living_number" name="living_number" value="{{ var9  }}">
        ext_1 =<input type="text" placeholder="ext_1" name="ext_1" value="{{ var10 }}">
        ext_2 =<input type="text" placeholder="ext_2" name="ext_2" value="{{ var11}}">
        <input type="submit" value="提交" onclick="">
    </form>

</div>
{% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
</body>