<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单元数据分析</title>
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="stylesheet" href="../static/css/popupWindow.css">
    <link rel="stylesheet" href="../static/css/dataAnalysisLayout.css">
    <script type="text/javascript" src="../static/js/framework.js"></script>
    <script type="text/javascript" src="../static/js/unitEchart.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
     <div class="header">
		<h2>神策-管理系统</h2>
	</div>

     <div class="mainBox">
         <div class="leftBox" style="float:left;background-color:#FFD700">
			<div style="float:left;width: 300px; height: 590px;">
                <ol id="olTree">
                <li>
                   <label><a href="/dataEchart/globalAnalysis">数据大盘</a></label>
                   <ol>
                        <li><a href="/dataEchart/regionEchart">区域分析</a></li>
                        <li><a href="/dataEchart/unitEchart">单元分析</a></li>
                   </ol>
                </li>
                <li>
                    <label>数据管理</label>
                    <ol>
                       <li><a href="/dataManagement/tenantManagement">用户信息管理</a></li>
                       <li><a href="/dataManagement/roomManagement">房屋信息管理</a></li>
                       <li><a href="/dataManagement/monthlyManagement">每月流水信息管理</a></li>
                    </ol>
                </li>
                </ol>
            </div>
         </div>


             <div id="unitChoose">
                 <b>年份</b>
                 <select name="year" id="yearDate">
                     <option value="2020">2020</option>
                     <option value="2019">2019</option>
                 </select>
                 <b>月份</b>
                 <select name="month" id="monthData">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                 </select>
                 <b>区域</b>
                 <select name="region" id="region" onchange="getRoomNum()">
                        <option selected="selected">所有</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                 </select>
                 <b>房间号</b>
                 <select name="roomNum" id="roomNum">
                        <option></option>
                 </select>
                 <input type="button" value="查询" onclick="show_unit_data()">
             </div>

            <div class="unitDataMidd" id="unitDataMidd">
                <div id="unitDataMiddContent">
                    <div id="roYearInc" onload="roYeIn()">1</div>

                    <div id="monRent" onload="monRen()">2</div>

                    <div id="monEclet" onload="monelectricity()">3</div>

                    <div id="monWat" onload="monWater()">4</div>

                    <div id="idle">5</div>

                    <div id="curSta" onload="cursta()">6</div>
                </div>
            </div>

            <div class="unitDataBott" id="unitDataBott">
                <div id="unitDataBottContent">
                    <div id="roomIncClafi" onload="roIncClafi"></div>

                    <div id="teInfo">
                        <table id="userInfoTbl" border="1" onload="tenantInfo()">
                        </table>
                    </div>
                </div>
            </div>

     </div>
</body>
</html>