<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="stylesheet" href="../static/css/popupWindow.css">
    <script type="text/javascript" src="../static/js/framework.js"></script>
    <script type="text/javascript" src="../static/js/tenantManagement.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="initTree()">
    <div class="header">
		<h2>神策-管理系统</h2>
	</div>

    <div class="mainBox">
		<div class="leftBox">
			<div style="float:left;width: 300px; height: 590px;">
                <ol id="olTree">
                <li>
                   <label>数据大盘</label>
                   <ol>
                        <li><a href="#">区域分析</a></li>
                        <li><a href="#">单元分析</a></li>
                   </ol>
                </li>
                <li>
                   <label>数据管理</label>
                   <ol>
                       <li><a href="/dataManagement/userManagement">用户信息管理</a></li>
                       <li><a href="/dataManagement/roomManagement">房屋信息管理</a></li>
                       <li><a href="/dataManagement/monthlyManagement">每月流水信息管理</a></li>
                   </ol>
                </li>
                </ol>
            </div>
		</div>
		<div class="rightBox">
			<div class="slideBtn" onclick="slideBtn()">伸缩</div>
            <h1>用户信息管理</h1>

            <div id="userManagement_filter">
                    <b>区域</b>
                    <select name="region" id="region" onchange="getRoomNum()">
                        <option selected="selected">所有</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                    <b>Num</b>
                    <select name="roomNum" id="roomNum">
                        <option></option>
                    </select>
                    用户名<input type="text" name="name">
                    手机号<input type="text" name="phone">
                    状态
                    <select name="status" id="status">
                        <option value="onRent">onRent</option>
                        <option value="offRent">offRent</option>
                    </select>
                    <input type="button" value="查询" onclick="getUserInfo()">
                    <div>
                        <input type="button" id="addUser" name="addUser" value="添加" onclick="addUser()">
                        <input type="button" id="importUser" name="importUser" value="导入" onclick="importUser()">
                    </div>
                    <div id="userInfo">
                        <table id="userInfoTbl" border="1">
                        </table>
                    </div>

                    <!--删除弹窗-->
                    <div class="widget widget1"  id="deleteUserWindow" hidden="hidden">
                        <div class="body">
                            <div class="msg">确定要删除？</div>
                            <div class="btns">
                                <a href="javascript:void(0);" class="btn-cancel" id="btn_delUser_cancel">取 消</a>
                                <a href="javascript:void(0);" class="btn-confirm" id="btn_delUser_ok">确 定</a>
                            </div>
                        </div>
                    </div>

                    <!--新增弹窗-->
                    <div class="widget widget1"  id="addUserWindow" hidden="hidden">
                        <div class="body">
                            <div>
                                用户名 <input type="text" id="name" name="name">
                            </div>
                            <div>
                                区域 <input type="text" id="building" name="building">
                            </div>
                            <div>
                                房间号 <input type="text" id="room" name="room">
                            </div>
                             <div>
                                租金 <input type="text" id="rent" name="rent">
                            </div>
                             <div>
                                押金 <input type="text" id="deposit" name="deposit">
                            </div>
                             <div>
                                身份证号 <input type="text" id="idcard" name="idcard">
                            </div>
                            <div>
                                入住时间 <input type="text" id="check_in" name="check_in">
                            </div>
                            <div>
                                手机号 <input type="text" id="contact" name="contact">
                            </div>
                            <div>
                                入住人数 <input type="text" id="living_number" name="living_number">
                            </div>
                            <div class="btns">
                                <a href="javascript:void(0);" class="btn-cancel" id="btn_addUser_cancel">取 消</a>
                                <a href="javascript:void(0);" class="btn-confirm" id="btn_addUser_ok">保 存</a>
                            </div>
                        </div>
                    </div>

                    <!--导入弹窗-->
                    <div class="widget widget1"  id="importUserWindow" hidden="hidden">
                        <div class="body">
                            <div class="msg">导入记录</div>
                            <div>
                                <a href="javascript:downloadTemplate();" id="a_download_template">下载模板</a>
                            </div>
                            <div>
                                <input type="button" id = "bnt_import_user" value="开始上传">
                            </div>
                            <div class="btns">
                                <a href="javascript:void(0);" class="btn-cancel" id="btn_import_cancel">取 消</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</body>
</html>